:root {
    --primary-base: #00bfff;
    --primary-light: #a8f5ff;
    --primary-dark: #0b4692;
    --primary-highlight: #ecffff;

    --white: #ffffff;
    --black: #000000;

    --secondary-base: #fff34b;
    --secondary-light: #feffa9;
    --secondary-dark: #e18229;
    --secondary-highlight: #fffbe7;
}